.App {
  text-align: center;
}

.recipe-picture{
height:350px;
width:420px;
object-fit:cover;
}

.recipe-name{
font-size:48px;
padding:6px;
margin:18px;
font-family: 'Poppins', sans-serif;
}
.recipe-container{
background-color:grey;
overflow:hidden;
border-radius:50px;
box-shadow:whitesmoke; 
transition: 0.3s;
}

.recipe-container:hover{
transform:scale(1.1);
}
.recipe-list-container{
display:flex;
flex-wrap: wrap;
justify-content: space-around;
gap:30px;
}

body{
background-color: whitesmoke}